* {
    margin: 0;
    padding: 0;
}

.first-section {
    background-color: rgb(29, 45, 77);
}

.logo {
    color: white;
    font-size: 38px;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-right {
    display: flex;
    color: white;
    align-items: center;
    font-size: 18px;
    padding: 20px;
}

.links {
    display: flex;
}

.one,
.two {
    margin-right: 20px;
}